/* Estilos para a página home */
/* Path: public/assets/css/home.css */

/* ============================== CORES ============================== */
:root {
    --color-white: #FFFFFF;
    --color-purple: #6A1B9A;
    --color-blue: #0D47A1;
    --color-yellow: #F2B90C;
}

/* ============================== FONTES ============================== */
@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat-Bold';
    src: url('/assets/fonts/Montserrat-Bold.ttf');
}

/* ==============================  ESTILO DO BODY ============================== */

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--primary-color);
    background-image: url('/assets/img/fundo.png');
    background-size: cover;
    background-position: center;
}

/* ============================== ESTILO DO HEADER ============================== */
.hd-home {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-white);
    padding: 0vh 5vw;
}

.hd-options {
    display: flex;
    gap: 30px;
}

.hd-options .options {
    display: flex;
    gap: 30px;

}

.hd-options .options a {
    color: var(--color-white);
    text-decoration: none;

}

.hd-options .options a:hover {
    border-bottom: var(--color-purple) 2px solid;
}


.hd-options .hd-btns a {
    color: var(--color-purple);
    text-decoration: none;
    padding: 1vh 2vw;
    font-family: Montserrat-Bold;
    border-radius: 5px;
    border: 3px solid var(--color-purple);
}

.hd-options .hd-btns a:hover {
    background-color: var(--color-purple);
    color: var(--color-white);
}

/* ============================== ESTILO DO BANNER ============================== */

.home-banner {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 2em;
    text-align: center;
    gap: 5vh;
}

/* ============================== ESTILO DO TEXTO CENTRAL ==============================*/
.home-banner .hm-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home-banner .hm-texts .hm-title {
    font-family: Montserrat-Bold;
    margin: 0;
}


.home-banner .hm-texts .hm-title .hm-title-dstq {
    color: var(--color-yellow);
}

.home-banner .hm-texts .hm-subtitle {
    font-size: .6em;
    font-family: Montserrat;
    width: 40vw;
    margin: 0;
}

.home-banner  .hm-texts .hm-btn {
    font-family: Montserrat-Bold;
    padding: 1vh 2vw;
    border-radius: 5px;
    font-size: .6em;
    border: 3px solid var(--color-white);
    color: var(--color-white);
    text-decoration: none;
}

.home-banner .hm-texts .hm-btn:hover {
    background-color: var(--color-white);
    color: var(--color-blue);
}


/*============================== ESTILO DE PLANETA QUE RODA ==============================*/
.planet-container {
    width: 25vw;
    height: 50vh;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    z-index: 0; 
}

.texture {
    height: 100%;
    width: 250%;
    background-image: url('/assets/img/texture.png');
    background-size: cover;
    background-repeat: repeat-x;
    animation: scrollTexture 100s linear infinite;
}

@keyframes scrollTexture {
    from {
        background-position: 0;
    }

    to {
        background-position: -1000px;
    }
}

.lua-container {
    z-index: 1; 
    position: absolute;
    width: 35vw;
    display: flex;
    background-color: turquoise;
}

.orbit {
    width:40vw;
    display: flex ;
    align-items: center;
    justify-content: center;
}
@keyframes luaOrbit {
    0% {
        transform: translateX(0);  /* Início à esquerda */
        z-index: 1;                /* Acima do planeta */
    }
    25% {
        transform: translateX(90vw); /* Mova para quase o fim da viewport */
        z-index: 1;                  /* Mantém acima enquanto se move */
    }
    50% {
        transform: translateX(100vw); /* Move um pouco mais para garantir que atinge o final */
        z-index: -1;                  /* Começa a mover para trás */
    }
    75% {
        transform: translateX(10vw);  /* Começa a retornar */
        z-index: -1;                  /* Continua atrás */
    }
    100% {
        transform: translateX(0);     /* Retorna ao início */
        z-index: 1;                   /* Acima do planeta novamente */
    }
}

.lua-container .lua {
    animation: luaOrbit 20s linear infinite;
}
